@font-face 
{
    font-family: 'survivant';
    src: url('font/survivant.ttf');
}

@font-face 
{
    font-family: 'land-v2';
    src: url('font/land-v2.ttf');
}


@font-face 
{
    font-family: 'DLyleHand';
    src: url('font/DLyleHand.ttf');
}


@font-face 
{
    font-family: 'American-Captain';
    src: url('font/American-Captain.ttf');
}


@font-face 
{
    font-family: 'Heroes-Legend-Hollow';
    src: url('font/Heroes-Legend-Hollow.ttf');
}


@font-face 
{
    font-family: 'Heroes-Legend';
    src: url('font/Heroes-Legend.ttf');
}



@font-face 
{
    font-family: 'The-Amazing-Spider-Man';
    src: url('font/The-Amazing-Spider-Man.ttf');
}


@font-face 
{
    font-family: 'Brother-Signature';
    src: url('font/Brother-Signature.otf');
}

@font-face 
{
    font-family: 'Candy-Planet';
    src: url('font/Candy-Planet.ttf');
}

@font-face 
{
    font-family: 'FruityCandy';
    src: url('FruityCandy-Regular.ttf');
}

@font-face 
{
    font-family: 'wildflowers';
    src: url('font/wildflowers.ttf');
}

@font-face 
{
    font-family: 'Smoothy-Candy';
    src: url('font/Smoothy-Candy.otf');
}


